<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN1akNDQWFLZ0F3SUJBZ0lCQVRB
	TkJna3Foa2lHOXcwQkFRc0ZBREFBTUI0WERUSTJNRFF3T0RFek1EYzAKTUZvWERUTTJN
	RFF3TlRFek1EZzBNRm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQU1XaEVucE9GLzZVSHFreE44L08vMm1CZEh6cTZsY0xBYWIzNWovM1hv
	aGFaM0YzZ1FmOWxUdjFOa1R3Ck1XcDNWc29QY3dSUGM4ZFJuVlNkcXFFNU9ES3JDNmVC
	djlwVjR0b1dCT1pleUtEaC9OS1RyK0dER2xjVVFqWTUKdEhGbFI2WEFGTm42WVVmbllI
	Mm5WTVlzSzZoK2xCMnhCY1BxRzkxcEZkdTlqdEJocXdOVzdXVGFiVGt1dG9raQpCamg4
	d2hQcjRCMGFnamlwL1RFNEhIZjhCSnFlUlFRT3pWaWlVNnpFZmtvT3o5S21SVUE1ekQ5
	QWRYR3gwSzRYCjJrZlpOWXBFaWMxNUV0MisvcGJXQ2NrdHJ3VTh4VmpzYkhtOUwreGNs
	aFkzVThuSmlYUWhpdHFCUWFQYzRubEoKUFRBbGovb296Z25jMGhyd0RaNkZ1RjRjdjhz
	Q0F3RUFBYU0vTUQwd0RBWURWUjBUQVFIL0JBSXdBREFPQmdOVgpIUThCQWY4RUJBTUNC
	YUF3SFFZRFZSME9CQllFRkRQMldHcHkxUnBaVy9XSWYzUEQzVnR1SGplSU1BMEdDU3FH
	ClNJYjNEUUVCQ3dVQUE0SUJBUUE5REpKdERhNG92NkRBR3VpRWorM0I4aW1PVTFVVmZm
	czMrN29QbjRHa2I4c1IKOUQ4Y2pyZktUTzBUQTRQdE96UXFneTA3citVU1lWTytIVEw5
	SlhzTHFhS0s1bFVNU3U2SXIralFFdHA0ZkxZagpNOGp4eDRhNTRRNjdGNXcvVk1vS1h0
	aXBPZWVxSE5DK3o2czJ5TmcxU0h2bW5mK2dBTHZsR09CM3JGWVlHM3I2CnY0ekFjaFcy
	dmpJQURBNVNpbHVUVzBuNUtUblpVKzJ4NkhGV2tzczNiTENkT2N1NXV1NG5xZUNDMng1
	YjZJbmsKTWh6SnBYd1NYbVAvaHU0T0kyZDh2RFJCUHdjaHZYN1Z2T1hYeU9mOTZabmNT
	QnZwMmxFcFpkOGF0bEQ0OVRMaApPMkRKaUgyNTRBdHcxcXFXU3oxR0xhUGdIckxyazNo
	Z1Vub1ZxNkZHCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
	</data>
	<key>EscrowBag</key>
	<data>
	e2Ae2zlTGBGpT+8fwxKAhHC7L8PAV4+rIx41gPT7klM=
	</data>
	<key>HostCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNtekNDQVlPZ0F3SUJBZ0lCQVRB
	TkJna3Foa2lHOXcwQkFRc0ZBREFBTUI0WERUSTJNRFF3T0RFek1EYzAKTUZvWERUTTJN
	RFF3TlRFek1EZzBNRm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUxWS0xweWcxeno1VnRtaTZDWjFNb2JiSWlhQnE5VnlqOHI4cjJqK1RY
	aUxHMUZMdVlLZ0g0SVhEZE13CnVyTnovMjVjd2xlRkdvcUVIN2ZGeng4QUtWUElmUGw2
	S0hiU0ZrODN0c3lVVmxrbTRRQTlIbUZoWHljQ1RKU2cKd09MY2tVL0F3TnoyYUNVT2ZQ
	YmFNRmNaWXN1OEU4ZGJoLzAyTlBDQ21mYWhtYkVMWVNncjEyR2dXTzRxM2l0agpQU01r
	dHhyQWZhYVJ3NE1DZWtoek54WjdSUGNrbFVoeENIeC9RRENZK0I4QXRxTUpLSFo1ckEw
	eEh6dStLWGRQCmtZL3gxZW9MYmpiQWJLMFRReGZmelZzOVdoYTBNeE9vcVJ4YmFVQzZ2
	dDArQWU5RFFuS0x4NmE1V2ZrRTBHZHUKM1YzMmJpam5TVVRYWUNVZWFMTmNqbkZCWTNz
	Q0F3RUFBYU1nTUI0d0RBWURWUjBUQVFIL0JBSXdBREFPQmdOVgpIUThCQWY4RUJBTUNC
	YUF3RFFZSktvWklodmNOQVFFTEJRQURnZ0VCQUdRb0w0SnJ1SmZUZVNYeC9LTmdUd05s
	CjFnN3lYN2FIT3F5M1JsSWlvUHhLZ3ZQZXZKRURNUHZFMmVOLzBML0l6eVV0cDhGWUlO
	RFZLNUZZK3l2SVVvVkEKd1Y2TDZYdDRoRjFoazk1cTkwRFJYQ01CNGJjZW5vSXJuODJk
	eklmVEFGM3Q4S3oyaHNnZHphQ3lqVEJHQURkbgoyeHNNNGp4UzhISDlzdlhlblY3R001
	enlROUpEMWFmWko1QXNPdHNZWHhrcVZwckVwb2lrYyttbTd5TVNJUmlaClZ3YmNMVm5i
	bWVybjlFcXJtT2h2UUI5V1dvMEhIbFdlWTV2STFyRW90S21LZ3pFVmNZTVNVYnQrbHl2
	cVhUOHoKdFpjd21rUjJPZkR3MWdMTm4yRGI4dnZPTW9GdU5ZR2UxYmdYTWpRbkppV0xG
	Wm5lNldnZ2pUNE4vd0VDemJJPQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
	</data>
	<key>HostID</key>
	<string>8E5A726B-17FE-357B-8B21-10E247E73F52</string>
	<key>HostPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2Z0lCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktnd2dnU2tBZ0VBQW9JQkFRQzFTaTZjb05jOCtWYloKb3VnbWRUS0cy
	eUltZ2F2VmNvL0svSzlvL2sxNGl4dFJTN21Db0IrQ0Z3M1RNTHF6Yy85dVhNSlhoUnFL
	aEIrMwp4YzhmQUNsVHlIejVlaWgyMGhaUE43Yk1sRlpaSnVFQVBSNWhZVjhuQWt5VW9N
	RGkzSkZQd01EYzltZ2xEbnoyCjJqQlhHV0xMdkJQSFc0ZjlOalR3Z3BuMm9abXhDMkVv
	SzlkaG9GanVLdDRyWXowakpMY2F3SDJta2NPREFucEkKY3pjV2UwVDNKSlZJY1FoOGYw
	QXdtUGdmQUxhakNTaDJlYXdOTVI4N3ZpbDNUNUdQOGRYcUMyNDJ3R3l0RTBNWAozODFi
	UFZvV3RETVRxS2tjVzJsQXVyN2RQZ0h2UTBKeWk4ZW11Vm41Qk5CbmJ0MWQ5bTRvNTBs
	RTEyQWxIbWl6ClhJNXhRV043QWdNQkFBRUNnZ0VBQ2c0aVJiZTZHSHl2NzRSVW9nVndG
	d0RDaFNZK0ZLbTFCZ283NUhQdWNoZ3QKSExZNWhPQkN2eUZ1TjkrRkMzME1sdDk0UEFo
	NjcySGlySHZCUURQdkZ1R1E1UGw4a3hLV0FERFQ1OGIyZngxago3M0owWSt4VnJjRTM1
	Q3FDYUZMWmtIWGRmS1FDSk1RSDlGMG52enorT05TbXVERUFldS90d2NWTXF0eE52UDhQ
	CmZnK0hRdGdJbG5vaWQwSTVya0VBZnNiSU91ODhnTzdmRVRIRTYyL0RibkN2MU54ajFK
	ZllUdnpKenVIcEp1K1EKTzRqME9UZ0ovajR1RWtXcjE1YTFCeUUxTlhzaGt5eUhuWWJi
	d3VXTXRJdHJMZkpqWFpJYmNhVkMwN0FSV3N0cApMWDhtUmRKLzlrNFptRTY3dWRjZUxF
	QUd1Y1JxM2pwTU0vOFhhb1dEQVFLQmdRRDBwaFRoQmdyQVZNUWRHcHJrCnU5VHRTQThj
	a0ltcm54eE9nN0o2Y1l5bFJSUWkxcTQrRW5RdVJYdWx5cXcyakNmQ0tlbnVhOGtuZ1U1
	cE9tbG4KWXZwOXh6UEdOSnRlUThsbTdQdzI2aVViajd4TU5mTlEwN0h2c2lGM25FU1hl
	aFZXa2RoZHhEOGpVVjVFTXB3SApxZ2tNQ2pCb25XbzZIaVRsWUNKbXpZQkNnUUtCZ1FD
	OXM0Y08reFJWVGxpc1F4YTc4K2UzUHYwNlh4bnpaYjB1Cnl0SXgwYjdpVGZyZ240WEFz
	bExYWitjL25vSkdhOE9xOVRnM3ZOcWJZUituYW51c0JnMVlKY2loc1NGajR6QnoKY0lI
	aXpSN0FZd3JMcDl6VkF3d2tKYThsemd1NVJrcTZUZGEycHNXVnZvam51MktrcFVvaVNh
	a1RZQ1VPdmJneQpobm9Tcmdxdit3S0JnUUNlU0VtZjRNblo3NzNHV3EwMktiUTBKSGZx
	Y2pVdi9VeFNHL0RBT1hEV2lKL2pmbVBUCk14dEp5SmljQmtsdkxUU1g4WWd4UWprdHZ3
	SWRJTGFMTmtWOFZRSlJUVDNzT2cwMjgwS213TXhyVFk1MC9EN0UKMzRIeTQ1dTFpRHYw
	aVA3L09ITDFENEFOK0puMW80ekJoS2cveXVQUSsyOTcxSDdvakU4VmxnVlNnUUtCZ0hY
	cQpmeHczdzhiVzRWV0tpam9nZlRzeGd6UmlZdjRoa252Z2hOR0U0Qk5KaDVWU2MxQjVS
	L2N2VmRYODBGdTNwclBBCm84WTV0T1Q2ZFRPYWcrOUUvOHg0Q0FOQjJGQi9xdUZHNE9X
	NnZNKzNnTUZnd1dzQzd1d1ZKSTdxU2UxTG5TMjcKTHFqd2QwY0NYWlUxckRaTnJBd3VI
	MU8wNHJRTUI5QVlPUThkY2ZVN0FvR0JBSkRjSDcxNVJFcFBtN1d3a2Mxbgp2c0VJTDky
	eG40Q0JYb3ZFbm1PNzNQVkVkdXVXb0JyeTg0eDFqRkdtSHhlQWQyeDNoTEd3ZS9CTFp4
	amdudGM5Cjd4elJPSWtXLy9EYndhYUJZMmVpQ3VMa3BSTURpWXpOaGt2SjVlczhybDB3
	blFrdEhDMGNVeWsyOTV3cjNVVWcKSE5Kc2dSNFJJeVN2SGRTalp1OGpaaHdWCi0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>RootCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNqakNDQVhhZ0F3SUJBZ0lCQVRB
	TkJna3Foa2lHOXcwQkFRc0ZBREFBTUI0WERUSTJNRFF3T0RFek1EYzAKTUZvWERUTTJN
	RFF3TlRFek1EZzBNRm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUprUXk5SlZaZktqZmlZWFlUSGJ1UWJ2d1ZsQ0lXUnoyZnlwZ2tsdkJX
	N3ZpaEFieDgxTDN3MmRVaFZNCklZYXMwNlJHc2YrdmJUZWNpWTB4Z3B4ZXlFcFNqTWdD
	d2ZTQlVTQVRBN1lFR1pFd040K29IZ25RVlQzVng1N3cKSDNkbjhjUlh6aVNOSlp5cFhF
	ZXFWcDhWdjl4UlJTdXY3Ujh4MGVFMlUwMXMvQTJrR29qaktYV04zaDAydWM5ZAp0UFlS
	eU8ybzU0OG1IMWVYSDdjRi9mWTFzTzdxdFh6WXIxenhEeURZdnlOR3BNYkI2ekhFeE5r
	bUxIbmgrODFSCkdjQTM2N1lhYkNPWlovTlFOZW9NWTd2OFpJVFVhc3ZZNDhoS2NkaG1a
	c0pMZGc2aXNDV0dlaFZwMVI4ekJxTzEKYWU2U3gvSzYyd3lkRFpkWjMvQlllejdwcVdr
	Q0F3RUFBYU1UTUJFd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBTgpCZ2txaGtpRzl3MEJB
	UXNGQUFPQ0FRRUFKUllnOHRET0FoekJoRDFTakZaaU1MdGVWTmJqTkVHc2t1aDBQcDVX
	CktzQUpDUjRkZ3JQZVVCb01jVnpZdzVhWWlJNnpKTVhSeEdrR0RLNGxMNG0yeWpOb0xU
	bDRyR1Z5VytBNWdubHMKL1JySytjRHBDVTkzRWM2YUFwN1kyZlUyMzJiZDhVRHBybFky
	bHhLS3UzU2FsN25NZDg5dGxXQ1ROZTRqVk9aSgpDd3dZYndEZklRTFdmWHhrNXcwV2Q5
	ZzI1bGdod05WeEpFSkcyNHVzbTJ3a1M5L1Rva2k0V1BEejhYdGY0NngyCkhjVjMxeGEw
	Sm5FSWFWeVhCRzVGUXZlSjZseEZVQnpiNEp3ZGdyZy8wRExnb1UrRXF6cldXOHpwZUtj
	d01KdzgKVlJIVHJuVWo3WG1xbG5YbDVVdjN5Y2VTR1E4Wmw0dUg0bU5HUG1Pa0xRZmYy
	QT09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
	</data>
	<key>RootPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2Z0lCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktnd2dnU2tBZ0VBQW9JQkFRQ1pFTXZTVldYeW8zNG0KRjJFeDI3a0c3
	OEZaUWlGa2M5bjhxWUpKYndWdTc0b1FHOGZOUzk4Tm5WSVZUQ0dHck5Pa1JySC9yMjAz
	bkltTgpNWUtjWHNoS1VveklBc0gwZ1ZFZ0V3TzJCQm1STURlUHFCNEowRlU5MWNlZThC
	OTNaL0hFVjg0a2pTV2NxVnhICnFsYWZGYi9jVVVVcnIrMGZNZEhoTmxOTmJQd05wQnFJ
	NHlsMWpkNGROcm5QWGJUMkVjanRxT2VQSmg5WGx4KzMKQmYzMk5iRHU2clY4Mks5YzhR
	OGcyTDhqUnFUR3dlc3h4TVRaSml4NTRmdk5VUm5BTit1Mkdtd2ptV2Z6VURYcQpER083
	L0dTRTFHckwyT1BJU25IWVptYkNTM1lPb3JBbGhub1ZhZFVmTXdhanRXbnVrc2Z5dXRz
	TW5RMlhXZC93CldIcys2YWxwQWdNQkFBRUNnZ0VBRE1RUXViNi9XVktmTEdwZUEvaGpP
	TVBCaEpJZVFwaGlkWDhHTTUxdnJySkoKK2FDMWcrYm9hQ1JuTW9sR1VRc0VQa0xhcU54
	ZXo2anR0SEhOQnNGbGMwUnFBeXJ1dGZlY2xtQWJtc0JDQ1NERQpPNFllRmp1eXhrelln
	S1llZTdrV3VnVklOelp4N1B4WGlzOFhPUjZwWVNUQ2ovdVUyMW1PZTNucVRlNXhZYW85
	CmQ1c2s4QW12NURwckQ2OEppUUNKZ21VQm52TXVUZE40ZXp0Yng4WTBla2h0UmQ4ejU3
	T0t6RVlEcjZtc21NZUcKK2tjbTg1dmRhN3R3RWs1V21nYzlwMGlOVk4wOGo2ay9GaFlI
	bHVBSkRiUXVaYVQxb2VIUGZGMlh5ZTdDb1VEYgpyaUF6cElDUXZmdTVBVkpvVGE0cGVW
	d1RYVk9FSFFzSWtzcEJsekVQOFFLQmdRRExneW44WWhsVmJENFk1OXlXCit4N0hXRFQ4
	R3N0TFRSUDRtQnF2L1ZIWlM1NVVFVVlMQlRCdGlxVExBMllyRWR2WUREMFJFcVpTM00x
	dHV6cmQKRUUvSlErc052bExNTFNxeW95MWU4QmNpR0t1SmFxR0VqbHRwWXFpUlQwTjF4
	bmpsV005ZkRzZWprdmJIOTB5dQoyL2lnWW4yN0lDcUpPV1JRZ25JZXZvSlIrUUtCZ1FE
	QWl1YjhUS2RjTi9Tc3hjRWV1bEZsMmUwbmRacncyRXdNCkticHN1eitrRW12ZWk5bVA2
	OEJCck5WalBaaFM4N1MzRWZoUERFK3dncXBnQi9aNWpveWdQeHpHZVo5MXdQZnMKZzNv
	NXBrbEUvTDVJWE9LRCtJTWxnM0Y0Mm0vbDZaMFFqbzdCWlVTTkRTdTMxSlM2TTd3RUFJ
	eWVUemZzRUt4QQpJMlhFVDIzdThRS0JnR29lNVQvajc0M3B1Wi9IRi9IcTFLdmlSUTdJ
	OGdVOEZoUGxUTlZFWk8vSVRMRk5xSmFLCmlDdzJ4YVBQQy9HZGlHUHFUZFdmUWZlbmg3
	K1dpQ1ZLSWpDeko5aXN6QVFIOFdIaFVRRldkTm1rdjU0U2FsTHkKNEp2ZGhFVHhiaDMx
	OW9peGZNRDJ0Z2VIMVFPRTR3bXpUcnhqWDJpNlp6UFRKNG9MMjNKSXFUQVJBb0dCQUtO
	RQpKV0hEVGhid2k5VUZTeURYTkxaOCtKQUJOWVVNcEUrY0FxeTRpdHFCbEY1OWo5cHVP
	ZlIycmVzZEM5RXJQZzRPCmV0UHN5SllQOXBDL3I4eWJoN3RLU1FnemtYZTBUWWFNWmxR
	RUlSVVNpL2VvYTVza1czQ3Y2TVJsMVlUTGQ1ZlcKaWs2THBIbEd0YytIdnlXMVFMVFVF
	bWtiRzN4ZEZ2SzhFVXRKWHhyQkFvR0JBTGIyMU5WMmZHekJKWVVMR3lGSQpmd2FKWjk3
	WkVEcElNbFBjd0pVclBYNndWUFBheVk5eFFlanI4NTFiN1BsYkZFenZMY1NVM3h4b0xT
	ZEF6OUd3Ci9kQmZvYlJSaDJWSVFIQlcwNHNnVUVvREhsdDFkVHBEN2oxYVk1RmVHQ2x5
	d2hqMkNpNTI0NFk1WHZ4MHMwUHIKR3ZyRXFUQkxZOXFJRFBuSytZYzB1eFVNCi0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>SystemBUID</key>
	<string>312461682143272333102155888</string>
	<key>WiFiMACAddress</key>
	<string>2c:df:68:ac:c6:c5</string>
</dict>
</plist>
